
.details{
    
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    height:46.2rem;     

}
.details > * {
    flex-basis: 100%;
}
.nam{
    justify-content: center;
    backdrop-filter: blur(2px);
    height: 100px;
    width: 100px;


}
.name{
    font-size: 45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 15em;
    border-radius: 5px;
    border:   #234643  solid 3px;
    background-color:  #3b605d  ; 
    height: 50px;
    width: 300px;
    display: center;
    
}

.imgDiv{
    background-color: #2A2E35;
    border-top: rgb(219, 76, 76) solid 2px;
    border-left: rgb(119, 68, 214) solid 2px;
    border-radius: 8px;
    opacity: 0.99;
    margin-top: 250px;
    height: 350px;
    margin-left: 200px; 
    box-shadow: 11px 10px 20px -1px rgba(0,0,0,0.79);
    -webkit-box-shadow: 11px 10px 20px -1px rgba(0,0,0,0.79);
    -moz-box-shadow: 11px 10px 20px -1px rgba(0,0,0,0.79);
}
.img{
    width: 470px;
    height: 350px;
}

.stats{
    /* background-color: #CBCBCB;
    background: rgb(71,71,71);
    background: linear-gradient(90deg, rgba(71,71,71,1) 0%, rgba(113,112,112,1) 20%, rgba(240,240,240,1) 100%);  */
    background-color:#2A2E35 ; 
    margin-top: 250px;
    height: 350px;
    margin-right: 350px;
    width: 300px;
    border-radius: 8px;
}
  
.stats > * {
    height: 18px;
    margin-right: 2em;
    background-color: #c6fffa;
    border: black solid 2px;
}

.hpDiv{
    background-color: #68AE28;
    margin-left: 2rem;
    margin-top: 2rem;
    font-weight: bold;
    
}
.attackDiv{
    background-color: #68AE28;
    margin-left: 2rem;
    margin-top: .5rem;
    font-weight: bold;
}
.defenseDiv{
    background-color: red;
    margin-left: 2rem;
    margin-top: .5rem;
    font-weight: bold;
}
.heightDiv{
    background-color: goldenrod;
    margin-left: 2rem;
    margin-top: .5rem;
    font-weight: bold;
}
.weightDiv{
    background-color: goldenrod;
    margin-left: 2rem;
    margin-top: .5rem;
    font-weight: bold;
}

.typesDiv{
    background-color: saddlebrown;
    margin-left: 2rem;
    margin-top: .5rem;
    text-transform: capitalize;
    height: 60px;
    /* border-color: black solid 10px; */
}
.id{
    background-color: goldenrod;
    margin-left: 2rem;
    margin-top: .5rem;
    font-weight: bold;
    height: 50px;
}
.type{
    justify-self: center;
    display:flexbox;
    margin-bottom: -16px;
    font-weight: bold;
}

