
.nav{
    background-color: #2A2E35;
}
.home{
    font-weight: bold;
    font-family: fantasy;
    color: #12181B;
    background-color:transparent;
    text-align:justify;
}

.createLink{
    background-color:#12181B;
    
    
    
}
.create{
    
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    background-color:  #09C372 ;
    border-radius: 3px;
    margin-top: 10px;
    padding: 0em 1em;
}

.create:hover{
    padding: 0.5em 1em;
}
    
.page{
    background-color: #12181B ;
    height: 100vh;
    width: 100vw;
    flex-grow: 999;
    
}

.select{
    background-color: white;
    margin-top: 10px;
    color: #12181B
}

.container{
    display: flex;
    justify-content: center;
    background-color: #12181B;

}
.group{
    
    flex-basis: 0;
    flex-grow: 999;
    min-width: 70%;
    background-color: #12181B;
}

.o{
    background-color: #12181B;
    padding-bottom: auto;
    flex-grow: 1;
}

.col{
    background-color: #12181B;
}

.paginacion{
    background-color: #12181B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1800px;
}