/* .paged{
    display: flex;
} */
.list{
    display: flex;
    justify-content: center;
    background-color: #12181B;
    align-items: center;
    height: 30px;
}

.btn{
    
    background-color: #1EADEF;
    border-radius: 25px;
    width: 3.5em;
    height: 2em;
    margin-right: 1em;
}
.btn:hover{
    opacity: .4;
}

.num{
    font-weight: bold;
}

.hola{
    background-color:  #12181B;
}
