
body{
    background-image: url('./LandingPage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
   
    width: 100;
    height: 700px;  
    
}

.btn{
    margin-right: 50rem;
    margin-top: 10rem ;
    background-color: #FABD7D;
    border-color: white;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
}
.head{
    
    margin-right: 810px;
    margin-top: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: #FABD7D;
    font-weight: bold;
}


@keyframes bounce {

    100%{
        transform: scale(1.1,1.1);
    }
}

.btn:hover{
    cursor: pointer;
    
}
.i{
    width: 100%;
    transform: rotate(-12deg);
    
}